.cajitanegra{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    width: 80vw;
    padding: 20px;
}
.cajitaamarilla{
    border-radius: 24px;
    min-width: 350px;
    border : 2px solid rgb(121, 165, 193);
    width: 25%;
    height: 250px;
}
.cajitaazul{
    min-width:350px ;
    color: white;
    padding: 16px;
    width: 50%;
    height: 250px;
background-color: rgb(61, 98, 146);
}
.cajitaroja{
    min-width: 350px;
    color: white;
    padding: 16px;
    width: 50%;
    height: 250px;
    background-color: rgb(110, 155, 158);
}
.cajitaverde{
    border-radius: 24px;
    min-width: 350px;
border: 2px solid rgb(163, 241, 231);
   width: 25%; 
   height: 250px;
}
.negra{
    border-radius: 24px;
    min-width: 150px;
    width: 25%;
    height: 250px;
    border: 2px solid rgb(104, 143, 229);
}
body{
    background-color: rgb(7, 184, 184);
    gap: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.cajitaamarilla img{
    border-radius: 24px;
    width: 100%;
    height: 100%;
}
.cajitaverde img{
    border-radius: 24px;
    width: 100%;
    height: 100%;
} 
.negra img{
    border-radius: 24px;
    width: 100%;
    height: 100%;
}
h2{
    font-size: 35px;
}
p{
    font-size: 26px;
}